@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Lato:400,100,300,700,900);

body, html{
	height: 100%;
	font-family: 'Lato', sans-serif;
}

h3 {
	color: #fff;
	padding: 15px 10px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-align: center;
}

#main {
	padding: 0;
}

#map {
	position: relative;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
}  

.sidebar {
	background:#333;
	padding: 0;
	height: 0;
	padding-bottom: 100%;
}

.dropdown-toggle,
.dropdown-menu,
.input-group {
	width: 80%;
	margin-left: 10%;
	border-radius: 3px;
	border: none;
	background: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
} 

.dropdown-menu li {
	padding: 0;
	margin: 0;
}

.dropdown-menu a {
	padding: 10px 20px!important;
}

.btn {
	padding: 8px 12px;
}

.separator {
	color: #aaa;
	text-align: center;
	padding: 10px 0;
}

.separator span {
	padding: 0 10px;
	letter-spacing: 1px;
	font-size: 15px;
}

.input-group input,
.input-group button,
.btn-primary {
	border-radius: 3px;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.input-group input:active,
.input-group input:focus,
.input-group button:active,
.input-group button:focus {
	box-shadow: 0 0 0;
}

.input-group span,
.input-group button {
	background: #eee;
	border-radius: 0 3px 3px 0;
}

.sidebar-list {
	list-style: none;
	padding: 0;
	margin: 30px 0 0;
}

.sidebar-list li,
.sidebar-list a {
	width: 100%;
	padding: 15px;
	color: #ccc;
	cursor: pointer;
	text-decoration: none;
}

.sidebar-list li:hover,
.sidebar-list li:focus,
.sidebar-list li:active,
.sidebar-list .active {
	background: #F29A1A;
}

.sidebar-list a:hover,
.sidebar-list a:focus,
.sidebar-list a:active,
.sidebar-list li:hover a,
.sidebar-list li:focus a,
.sidebar-list li:active a,
.sidebar-list .active a {
	color: #fff;
}

#wikipediaBox {
	display: none;
	height: 316px;
	width: 300px;
	padding: 0;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	z-index: 9999;
	text-align: center;
}

#wikipediaBoxHeader {
	text-transform: lowercase;
	color: #bbb;
	background: #555;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 14px 0;
	font-weight: 300;
	margin-top: 0;
	border-radius: 0 5px 0 0;
}

#wikipediaBoxHeader button {
	background: transparent;
	border: solid 1px #777;
	border-radius: 3px;
	padding: 5px 8px;
	margin: -6px 7px 0 0;
	float: right;
}

#wikipediaContent {
	padding: 15px;
}

#wikipediaContent span,
.markerTitle {
	text-transform: uppercase;
	font-weight: 900;
	color: #555;
}

.markerTitle {
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
}

.btn-primary {
	background: #F29A1A;
	color: #fff;
	width: 100%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #333;
}

.thumbnail {
	height: 150px;
	margin: 15px auto;
}

.error {
	color: #F7584C;
}