@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Lato:400,100,300,700,900);

/*	 General   */
body, 
html {
	height: 100%;
	font-family: "Lato", sans-serif;
	overflow: hidden;
}

body {
	background: #333;
}

h3 {
	text-align: center;
	padding: 15px 10px 30px;
}

.logo {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
}

.logo:hover {
	text-decoration: none;
	color: #fff;
}

.error {
	color: #F7584C;
	text-align: center;
	padding: 10px 0;
}

/*	Page Structure 	*/
.main {
	padding: 0;
}

.map {
	position: relative;
	padding-bottom: 180%;
	height: 0;
	overflow: hidden;
}  

.sidebar {
	background:#333;
	padding: 0 0 50px;
	height: 100%;
	overflow: scroll;
}

/*	Inputs	*/
.dropdown-toggle,
.dropdown-menu,
.input-group {
	width: 80%;
	margin-left: 10%;
	border-radius: 3px;
	border: none;
	background: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
} 

.dropdown-list {
	padding: 0;
	margin: 0;
}

.dropdown-link {
	padding: 10px 20px!important;
}

.separator {
	color: #aaa;
	text-align: center;
	padding: 10px 0;
}

.separator-span {
	padding: 0 10px;
	letter-spacing: 1px;
	font-size: 15px;
}

.search-text-input,
.input-group-button,
.btn-primary {
	border-radius: 3px;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.search-text-input:active,
.search-text-input:focus,
.input-group-button:active,
.input-group-button:focus {
	box-shadow: 0 0 0;
}

.input-group-span,
.input-group-button {
	background: #eee;
	border-radius: 0 3px 3px 0;
}

.input-group-button {
	color: #999;
}

/*   Buttons   */
.btn {
	padding: 8px 12px;
}

.btn-primary {
	background: #F29A1A;
	color: #fff;
	width: 100%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #333;
}

.btn-toggle,
.btn-hide {
	background: rgba(255, 255, 255, 0.1);
	border: 0;
	padding: 13px 18px;
	font-size: 17px;
	float: right;
	color: #999;
}

.btn-hide:focus,
.btn-hide:active {
	box-shadow: 0 0 0;
}

.btn-toggle {
	float: left;
	margin-right: 15px;
}

/*	Sidebar   */
.sidebar .btn-hide {
	border-radius: 0 0 0 3px;
}

.sidebar-menu {
	list-style: none;
	padding: 0;
	margin: 30px 0 0;
}

.sidebar-list,
.sidebar-link {
	width: 100%;
	padding: 15px;
	color: #ccc;
	cursor: pointer;
}

.sidebar-list:hover,
.sidebar-list:focus,
.sidebar-list:active {
	background: #F29A1A;
}

.sidebar-link:hover,
.sidebar-link:focus,
.sidebar-link:active,
.sidebar-list:hover .sidebar-link,
.sidebar-list:focus .sidebar-link,
.sidebar-list:active .sidebar-link {
	color: #fff;
	text-decoration: none;
}

/*	Wikipedia Box  */
.wikipedia-box {
	display: none;
	height: 316px;
	width: 300px;
	padding: 0;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	z-index: 9999;
	text-align: center;
}

.wikipedia-box-header {
	text-transform: lowercase;
	color: #bbb;
	background: #555;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 14px 0;
	font-weight: 300;
	margin-top: 0;
	border-radius: 0 5px 0 0;
}

.wikipedia-box-header .btn-hide {
	border-radius: 0 3px 0 0;	
	margin-top: -14px;
}

.wikipedia-content {
	padding: 15px;
}

.wikipedia-location-title,
.markerTitle {
	text-transform: uppercase;
	font-weight: 900;
	color: #555;
}

.markerTitle {
	letter-spacing: 1px;
	font-family: "Lato", sans-serif;
}

.thumbnail {
	height: 150px;
	max-width: 270px;
	margin: 15px auto;
}

/*	Media Queries  */
@media (max-width: 991px) {
	.wikipedia-box {
		margin-top: 80%;
	}

	.sidebar {
		position: absolute;
		z-index: 9999;
		height: 100%;
		display: none;
		transition: 0.8s;
	}

	.mobile-header {
		display: block;
		transition: 0.8s;
	}

	.toggle-msg {
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
		padding: 16px 0 0;
		font-weight: 300;
	}
}

@media (max-width: 767px) { 
	.wikipedia-box {
		margin-top: 65%;
	}
}

@media screen and (orientation:landscape) {
	.wikipedia-box {
		margin-top: 0;
	}
}